
:root {
    /* colour */
    --colour-black: #000000;
    --colour-white: #fafafa;
    --colour-red: #d50000;
    --colour-gray: #8d8d8d;

     /* font size */
     --font-micro:10px;
     --font-small:15px;
     --font-medium: 20px;
     --font-large:  30px;
     --font-extra: 70px;

      /* font bold */
      --weight-bold: 700;
      --weight-semi-bold: 600;
      --weight-regular: 400;
    
      /* width */
      --width-medium: 17vw;

      /* height */
      --height-medium: 330px;
}
body{
    background-color: var(--colour-black);
    font-family: 'Goldman', cursive;
    font-family: 'Montserrat', sans-serif;
    margin:0;
    color: var(--colour-white);
}
.invisible{
    overflow: hidden;
    opacity: 0.4;
}

h1{
    color: var(--colour-white);
    font-size: var(--font-large);

}
h2{
    color: var(--colour-white);
    font-size: var(--font-medium);

}
h3{
    color: var(--colour-white);
    font-size: var(--font-micro);

}
li{
    padding: 0;
}
ul{
    list-style: none;
    padding: 0;
}
button {
    background-color: transparent;
    border: 0;
    outline-style: none;
    cursor: pointer;
    border-radius: 3px;
}
i{
    cursor: pointer;
}
.container{
    padding-left: 30px;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    height: 50px;
    color: var(--colour-white);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all 300ms linear;
    /* 맨 위로 */
    z-index: 1;
}
#navbar.active {
    background-color: var(--colour-black);
    transition: all 300ms linear;
}
.navbar__left{
   display: flex;
   align-items: center;
   position: relative;
}
.navbar__logo{
    align-self: center;
}
.navbar__logo > img{
    width: 130px;
}
.navbar__menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 500px;
    cursor: pointer;
}
.navbar__menu-button{
    display: none;
    justify-content: space-evenly;
    align-items: center;
    width: 100px;
    padding-left: 10px;
    cursor: pointer;
}
.navbar__icons{
    display: flex;
    justify-content: space-between;
    width: 100px;
    padding-right: 30px;
}
#home{
    padding: 0;
}
.home__image{
    width: 100%;
    height: 600px;
    opacity: 0.5;
}
.home__image:hover{
    opacity: 1;
}
.home__movie{
    position: absolute;
    top: 230px;
    left: 50px;
    width: 500px;
}
.home__button{
    padding: 10px 25px;
    font-size: var(--font-small);
}
.home__button:hover{
    opacity: 0.7;
}
.home__button>i{
    padding-right: 10px;
}
.home__button:nth-child(odd){
    background-color: var(--colour-white);
}
.home__button:nth-child(even){
    background-color: rgba(255, 255, 255, 0.329);
    color: var(--colour-white);
    margin-left: 10px;
}
.modal{
    display: none;
    background-color: var(--colour-black);
    width: 60%;
    height: 100%;
    position:fixed;
    top: 20px;
    left: 50%; 
    transform:translateX(-50%);
    z-index: 1;
    overflow: scroll;
}
.modal__cancle{
    position: absolute;
    right:20px;
    top: 20px;
    font-size: var(--font-large);
}
.modal__movie{
    padding-left: 20px;
}
.modal__movie-title{
    font-size: var(--font-large);
}
.modal__buttons{
    display: flex;
}
.modal__button{
    padding: 8px 25px;
    font-size: var(--font-small);
    background-color: white;
}
.modal__button:hover{
    opacity: 0.7;
}
.modal__icon{
    display: flex;
    width: 40px;
    height: 40px;
    border: 1px solid var(--colour-gray);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin: 0px 7px;
    
}

.modal__icon:hover{
    border-color: var(--colour-white);
}
.modal__movie-info{
    margin-top: 30px;
}
.movie-info-rating, .movie-info-year, .movie-info-genres{
    font-size: var(--font-medium);
}
.movie-info-rating{
    padding-right: 10px;
}

article{
    position: relative;
    top: -70px;
}
.movies{
    display: flex;
    position: relative;
    overflow-x: scroll;
}
.movies:hover .movies__button-left.visible, .movies:hover .movies__button-right{
    opacity: 1;
}
.movies__button{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 0 1vw;
    height: var(--height-medium);
    background-color: transparent;
    z-index: 1;
    font-weight: bolder;
    font-size:var(--font-large);
    cursor: pointer;
}
.movies__button-left{
    color:var(--colour-black);
    pointer-events: none;
    opacity: 0;
    transition: all 400ms linear;
}
.movies__button-right{
    color: var(--colour-white);
    opacity: 0;
    transition: all 400ms linear;
}
.movies__button-right.invisible{
    color:var(--colour-black);
    pointer-events: none;
    opacity: 0;
}
.movies__button-left.visible{
    color: var(--colour-white);
    pointer-events: inherit;
}
.movies__list{
    display: flex;
    overflow-x: hidden;
    position: relative;
    scroll-behavior: smooth;
}

.movie{
    flex-wrap: wrap;
    padding-right:20px;
}
.movie > img{
    width: var(--width-medium);
    height: var(--height-medium);
}
.movie:hover .movie__info__summary{
    opacity: 1;
}
.movie:hover > img{
    opacity: 0.3;
}
.movie__info__summary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    position: absolute;
    top:0;
    width: var(--width-medium);
    height: 300px;
}
.movie__info__details{
    display: none;
}
.movie-title{
    font-size: var(--font-medium);
}
.movie-rating,.movie-year,.movie-genres{
    font-size: var(--font-small);
}
.movie-rating{
    padding-right: 5px;
}
.movie-genres{
    padding: 10px 0px;
}
.movie-icon{
    font-size: var(--font-medium);
}
#Contact{
    display: flex;
    justify-content: center;
}
.contact__icon{
    font-size: var(--font-large);
    padding-right: 20px;
}
#Info{
    display: flex;
    justify-content: center;
    padding: 20px 0;

}
@media screen and (max-width: 950px){
    :root {
         /* width */
         --width-medium: 21vw;
   
         /* height */
         --height-medium: 290px;
   }
}
@media screen and (max-width: 780px){
    :root {
         /* font size */
         --font-micro:7px;
         --font-small:15px;
         --font-medium: 17px;
         --font-large:  27px;
         --font-extra: 70px;
    
          /* font bold */
          --weight-bold: 700;
          --weight-semi-bold: 600;
          --weight-regular: 400;
        
          /* width */
          --width-medium: 29vw;
    
          /* height */
          --height-medium: 320px;
    }
    #navbar{
        justify-content: space-between;
    }
    .navbar__menu{
        display: none;
        position: absolute;
        top:30px;
        left: 100px;
        flex-direction: column;
        width:100%;
        border: 1px solid var(--colour-white);
        z-index:1;
        background-color: rgba(255, 255, 255, 0.5);
    }
    .navbar__menu.visible{
        display: flex;
    }
    .navbar__menu__item{
        display:flex;
        padding: 10px 0;
        font-weight: bolder;
        justify-content: center;
        width:100%;
    }
    .navbar__menu__item:hover{
        background-color: rgba(255, 255, 255, 0.5);
    }
    .navbar__menu-button{
        display: flex;
    }
    .home__image{
        height: 550px
    }
}

@media screen and (max-width: 570px){
    :root {
        /* font size */
        --font-micro:7px;
        --font-small:15px;
        --font-medium: 17px;
        --font-large:  27px;
        --font-extra: 70px;
   
         /* font bold */
         --weight-bold: 700;
         --weight-semi-bold: 600;
         --weight-regular: 400;
       
         /* width */
         --width-medium: 42vw;
   
         /* height */
         --height-medium: 270px;
   }
    .home__image{
        height: 430px;
    }
    .home__movie{
        top: 180px;
    }
    .home__movie-description{
        display: none;
    }
}