
:root {
    /* colour */
    --colour-black: #000000;
    --colour-white: #fafafa;
    --colour-red: #d50000;
    --colour-gray: #8d8d8d;
    --colour-lightgray:#aeaeae;

     /* font size */
     --font-micro:14px;
     --font-small:15px;
     --font-medium: 20px;
     --font-large:  25px;
     --font-extra: 70px;

      /* font bold */
      --weight-bold: 700;
      --weight-semi-bold: 600;
      --weight-regular: 400;
    
      /* width */
      --width-medium: 14.5vw;

      /* height */
      --height-medium: 330px;

      /* icon postion */
      --icon-top:28px;
      --icon-right:20px;
      --icon-width:100px;

      /* search bar */
      --search-width:300px;
      --serach-top: 20px;
      --search-right: 150px;

      /* modal */
      --modalBackground-height:400px;
      --modalImage-width: 250px;
      --modalImage-height: 350px;

}
body{
    background-color: var(--colour-black);
    font-family: 'Goldman', cursive;
    font-family: 'Montserrat', sans-serif;
    margin:0;
    color: var(--colour-white);
}
.invisible{
    overflow-y:hideen;
    opacity: 0.4;
    pointer-events: none;
}

h1{
    color: var(--colour-white);
    font-size: var(--font-large);

}
h2{
    color: var(--colour-white);
    font-size: var(--font-medium);

}
h3{
    color: var(--colour-white);
    font-size: var(--font-micro);

}
li{
    padding: 0;
}
ul{
    list-style: none;
    padding: 0;
}
button {
    background-color: transparent;
    border: 0;
    outline-style: none;
    cursor: pointer;
    border-radius: 3px;
}
i{
    cursor: pointer;
}

input:focus,button:focus{
    outline-style: none;
}
.container{
    padding-left: 20px;
}
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    height: 50px;
    color: var(--colour-white);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all 300ms linear;
    /* 맨 위로 */
    z-index: 2;
}
#navbar.active {
    background-color: var(--colour-black);
    transition: all 300ms linear;
}
.navbar__left{
   display: flex;
   align-items: center;
   position: relative;
}
.navbar__logo{
    align-self: center;
}
.navbar__logo > img{
    width: 130px;
}
.navbar__menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 500px;
    cursor: pointer;
}
.navbar__menu-button{
    display: none;
    justify-content: space-evenly;
    align-items: center;
    width: 100px;
    padding-left: 10px;
    cursor: pointer;
    font-size: var(--font-medium);
}
.navbar__search{
    opacity: 0;
    display: flex;
    height: 30px;
    position: absolute;
    right: 0;
    width: var(--search-width);
    pointer-events: none;
    transition: all 500ms ease-in-out;
    top:var(--serach-top);
}
.navbar__search.visible{
    opacity: 1;
    pointer-events: initial;
    display: flex;
    right: var(--search-right);
    transition: all 500ms linear;
}
.navbar__search__text{
    width: 300px;
    color: var(--colour-gray);
    border:1px solid var(--colour-lightgray);
    margin:0;
font-size:var(--font-medium);
}
.navbar__search__button{
   background-color: var(--colour-white);
   padding:0 10px;
   border:1px solid var(--colour-lightgray);
   border-left: 0;
   margin:0;
   height:30px;

}
.navbar__icons{
    display: flex;
    justify-content: space-between;
    width: 100px;
    padding-right: 30px;
}
.navbar__icon.active{
    transform: scale(1.3);
}
#Canvas{
    position: absolute;
    top:60px;
    width:100%;
    left: 50%;
    transform:translateX(-50%); 
}
#Home{
    padding: 0;
}
.home__image{
    width: 100%;
    height: 600px;
    opacity: 0.5;
}
.home__image:hover{
    opacity: 1;
}
.home__movie{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 210px;
    left: 50px;
    width: 45%;
}
.home__movie-description{
    display: block;
    height: 105px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal; 
    line-height: 1.3; 
    text-align: left; 
    word-wrap: break-word; 
    display: -webkit-box;
    -webkit-line-clamp: 4; 
    -webkit-box-orient: vertical;
}
.home__button{
    padding: 10px 25px;
    font-size: var(--font-small);
}
.home__button:hover{
    opacity: 0.7;
}
.home__button>i{
    padding-right: 10px;
}
.home__button:nth-child(odd){
    background-color: var(--colour-white);
}
.home__button:nth-child(even){
    background-color: rgba(255, 255, 255, 0.329);
    color: var(--colour-white);
    margin-left: 10px;
}
.modal{
    display: none;
    background-color: var(--colour-black);
    width: 60%;
    height: 90%;
    position:fixed;
    top: 30px;
    left: 50%; 
    transform:translateX(-50%);
    z-index: 1;
    overflow: scroll;
}
.modal__background{
    background-image: none;
    width: 100%;
    height: var(--modalBackground-height);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(15px);
}
.modal__image{
    position: absolute;
    top:35px;
    left: 50%; 
    width: var(--modalImage-width);
    height: var(--modalImage-height);
    transform:translateX(-50%);
}
.modal__cancle{
    position: absolute;
    right:20px;
    top: 20px;
    font-size: var(--font-large);
    z-index: 1;
    background-color: var(--colour-gray);
    border: 1px solid transparent;
    border-radius: 100%;
    padding:5px 7px;
}
.modal__movie{
    padding-left: 20px;
}
.modal__movie-title{
    font-size: var(--font-large);
}
.modal__clicks{
    display: flex;
    align-items: center;
}
.modal__button{
    padding: 8px 25px;
    font-size: var(--font-small);
    background-color: white;
}
.modal__button:hover{
    opacity: 0.7;
}
.modal__icons{
    margin-left: 8px;
}
.modal__icon{
    padding: 10px;
    border: 1px solid var(--colour-gray);
    border-radius: 50%;
    margin: 0px 7px;
    transition: all 300ms ease;
}
.modal__icon:hover{
    border-color: var(--colour-white);
    transform: scale(1.3);
}
.modal__movie-info{
    margin-top: 30px;
}
.movie-info-rating, .movie-info-year, .movie-info-genres{
    font-size: var(--font-medium);
}
.movie-info-rating{
    padding-right: 10px;
}
#Search{
    display: none;
}
article{
    position: relative;
    top: -45px;
    z-index:1;
}
.movies{
    display: flex;
    position: relative;
    overflow-x: scroll;
}
.movies:hover .movies__button-left.visible, .movies:hover .movies__button-right{
    opacity: 1;
}
.movies__button{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 0 1vw;
    height: var(--height-medium);
    background-color: transparent;
    z-index: 1;
    font-weight: bolder;
    font-size:var(--font-large);
    cursor: pointer;
}
.movies__button-left{
    color:var(--colour-black);
    pointer-events: none;
    opacity: 0;
    transition: all 400ms linear;
}
.movies__button-right{
    color: var(--colour-white);
    opacity: 0;
    transition: all 400ms linear;
}
.movies__button-right.invisible{
    color:var(--colour-black);
    pointer-events: none;
    opacity: 0;
}
.movies__button-left.visible{
    color: var(--colour-white);
    pointer-events: inherit;
}
.movies__list{
    display: flex;
    overflow-x: hidden;
    position: relative;
    scroll-behavior: smooth;
}

.movie{
    flex-wrap: wrap;
    padding-right:20px;
}

.movie > img{
    width: var(--width-medium);
    height: var(--height-medium);
}
.movie:hover .movie__info__summary{
    opacity: 1;
}
.movie:hover > img{
    opacity: 0.3;
}
.movie__info__summary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    position: absolute;
    top:0;
    width: var(--width-medium);
    height: var(--height-medium);
    text-align: center;
}
.movie-title{
    font-size: var(--font-small);
}
.movie-rating,.movie-year,.movie-genres{
    font-size: var(--font-micro);
}
.movie-rating{
    padding-right: 5px;
}
.movie-genres{
    padding: 10px 0px;
}
.movie-icon{
    font-size: var(--font-medium);
}
#Contact{
    display: flex;
    justify-content: center;
}
.contact__icon{
    font-size: var(--font-large);
    padding-right: 20px;
}
#Info{
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
.video{
    z-index:0;
    position: static;
}
.video-video, .video-iframe{
    width:100vw;
    height:100vh;
}
.video-video {
    display: none;
}
.video-ifram{
    display: block;
}
.video__cancle{
    display: flex;
    position: absolute;
    top:50px;
    left:20px;
    font-size: 30px;
    z-index:1;
}
.video__cancle.videoFrame{
    top:10px;
}
.video__cancle-btn{
    font-size: 50px;
    color: var(--colour-white);
    opacity: 0.2;
    transition: all 200ms linear;
}
.video__cancle-txt{
    opacity: 0;
    align-self: center;
    padding-left:10px;
    transition: all 200ms linear;
}
.video__cancle:hover .video__cancle-btn, .video__cancle:hover  .video__cancle-txt{
    opacity: 1;
}
.video__cancle:hover .video{
    opacity: 0.5;
}
@media screen and (max-width: 1300px){
    :root{
       /* width */
       --width-medium: 17vw;
    }
}
@media screen and (max-width: 950px){
    :root {
        --font-micro:12px;
        --font-small:   13px;
        --font-medium: 17px;
        --font-large:  23px;
        --font-extra: 70px;
         /* width */
         --width-medium: 21vw;
         /* search bar */
      --search-width:200px;
      --serach-top: 20px;
      --search-right: 50px;
   }
   .icon-search{
    transition: all 400ms linear;
}
.icon-search.active{
    position: absolute;
    right:var(--icon-right);
    top: var(--icon-top);
}
.navbar__icons.active .icon-notification , .navbar__icons.active .icon-user{
    display: none;
}
.home__movie{
       width: 50%;
   }
}
@media screen and (max-width: 780px){
    :root { 
          /* width */
          --width-medium: 29vw;
        /* search bar */
      --search-width:250px;
      --serach-top: 20px;
      --search-right: 50px;
          
          /* modal image */
    --modalBackground-height:350px;
      --modalImage-width: 200px;
      --modalImage-height: 300px;
    }
    #navbar{
        justify-content: space-between;
    }
    .navbar__menu{
        display: none;
        position: absolute;
        top:30px;
        left: 100px;
        flex-direction: column;
        width:100%;
        border: 1px solid var(--colour-white);
        z-index:1;
        background-color: rgba(61, 36, 36, 0.281);
    }
    .navbar__menu.visible{
        display: flex;
    }
    .navbar__menu__item{
        display:flex;
        padding: 10px 0;
        font-weight: bolder;
        justify-content: center;
        width:100%;
    }
    .navbar__menu__item:hover{
        background-color: rgba(255, 255, 255, 0.5);
    }
    .navbar__menu-button{
        display: flex;
    }
    #Canvas{
        top:3px;
    }
    .home__image{
        height: 550px;
    }
    .home__movie{
        width: 65%;
    }
    .home__movie-description{
        height: 90px;
    }
    .modal{
        width: 70%;
    }
}

@media screen and (max-width: 600px){
    :root {
         /* width */
         --width-medium: 28vw;
          /* height */
          --height-medium: 200px;

          /* icon postion */
          --icon-top:28px;
          --icon-right:20px;
          --icon-width:100px;

          /* search bar */
          --search-width:200px;
          --serach-top: 20px;
          --search-right: 50px;

           /* modal image */
          --modalBackground-height:300px;
          --modalImage-width: 150px;
          --modalImage-height: 250px;
   }
    .home__image{
        opacity: 1;
        height: 450px;
    }
    .home__movie-description, .home__movie-title{
        display: none;
    }
    .home__movie{
        top: 350px;
        align-items: center;
        left: 100px;
    }
    .modal{
        width:80%;
    }
} 
@media screen and (max-width: 500px){
    :root {
         /* width */
         --width-medium: 42vw;
   }
   .movies__list{
       overflow-x: initial;
   }
} 
@media screen and (max-width:420px){
    :root {
        --font-micro:9px;
        --font-small:   14px;
        --font-medium: 16px;
        --font-large:  22px;
        --font-extra: 25px;
         /* width */
         --width-medium: 27vw;
   
         /* height */
         --height-medium: 180px;

         /* icon position */
         --icon-top:18px;
         --icon-right:20px;
         --icon-width:200px;

        /* search bar */
        --search-width:160px;
        --serach-top: 12px;
        --search-right: 63px;
         
    } 
    #navbar{
        padding: 0;
    }
   .navbar__left{
       width: 150px;
       justify-content: flex-start;
   }

   .navbar__menu-button{
       padding:0;
   }
   .navbar__search__text{
    width: 130px;
   }
   .home__image{
    height: 300px;
   }
   .home__movie{
       top: 200px;
   }
   .modal {
       top: 50px;
       height: 70%;
   }
   .modal > img{
       height: 48%;
       top: 62px;
   }
   .modal__cancle{
    position: absolute;
    right:20px;
    top: 20px;
    font-size: var(--font-extra);
}
   .navbar__menu{
       width: 200px;
       left: 0;
   }
   .navbar__logo > img{
       width: 50px;
       height: 50px;
   }
   .navbar__icons{
       width: 100px;
       font-size: var(--font-medium);
   }
   .container{
       padding-left: 10px;
   }
   .home__movie{
       left: 0;
       width: 100%;
      display: flex;
   }
   .home__image{
       opacity: 1;
   }
    .modal{
        width:90%;
        top:10pz;
    }
    .modal__button{
       height:30px;
    }
    .modal__cancle{
        position: absolute;
        right:20px;
        top: 20px;
        font-size: calc(var(--font-large)+20px);
    }
    .modal__icon{
        padding: 10px;
        border: 1px solid var(--colour-gray);
        border-radius: 50%;
        margin: 0px 7px;
        transition: all 300ms ease;
    }
    .modal__movie-info{
        margin-top: 14px;
    }
    .modal__movie{
        padding: 5px 10px;
    }
    .movies__list{
        padding-left:13px;
    }
    .movie{
        padding-right: 10px;
    }
    .movies__button{
        display:none;
    }
    .info{
        font-size: var(--font-medium);
    }
    .video{
        display: flex;
        align-content: center;
      
        background-color: red;
        width:100%;
        height:100vh;
    }

}
@media screen and (max-width:350px){
    :root{
         /* icon position */
         --icon-top:18px;
         --icon-right:20px;
         --icon-width:200px;

         /* search bar */
         --search-width:250px;
         --serach-top: 12px;
         --search-right: 17px;

    }
    .navbar__search__text{
        width: 170px;
    }
}
@media screen and (max-width:300px){
    :root {
        --font-micro:   7px;
        --font-small:   10px;
        --font-medium: 15px;
        --font-large:  22px;
        --font-extra: 25px;

         /* width */
         --width-medium: 25vw;
   
         /* height */
         --height-medium: 150px;

        /* search bar */
        --search-width:190px;
        --serach-top: 10px;
        --search-right: 45px;
    }
    .navbar__logo{
        width: 35px;
    }
    .navbar__icons{
        width: 80px;
    }
    .home__button{
        padding: 7px 15px;
        font-size: var(--font-small);
    }
    .movies__list{
        padding-left:6px;
    }
    .movie{
        padding-right:8px;
    }
    .modal > img{
        top: 80px;
        height:47%;
    }
    .modal__clicks{
        align-items: flex-start;
    }
    .modal__icons{
        margin-left: 10px;
    }
    .modal__icon{
        padding: 8px;
        margin: 0 5px;
    }



}