
:root {
    /* colour */
    --colour-black: #000000;
    --colour-white: #fafafa;
    --colour-red: #d50000;
    --colour-gray: #8d8d8d;

     /* font size */
     --font-micro:10px;
     --font-small:15px;
     --font-medium: 20px;
     --font-large:  30px;

      /* font bold */
      --weight-bold: 700;
      --weight-semi-bold: 600;
      --weight-regular: 400;
}
body{
    padding-left: 30px;
    background-color: var(--colour-black);
    font-family: 'Goldman', cursive;
    font-family: 'Montserrat', sans-serif;
}
h1{
    color: var(--colour-white);
    font-size: var(--font-large);
}
h2{
    color: var(--colour-white);
    font-size: var(--font-medium);
}
h3{
    color: var(--colour-white);
    font-size: var(--font-micro);
}
li{
    padding: 0;
}
ul{
    list-style: none;
    padding: 0;
}
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    height: 50px;
    color: var(--colour-white);
}
.navbar__left{
   display: flex;
   
}
.navbar__logo{
    align-self: center;
}
.navbar__logo > img{
    width: 130px;
}
.navbar__menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 500px;
    cursor: pointer;
}
.navbar__icons{
    display: flex;
    justify-content: space-between;
    width: 100px;
    padding-right: 30px;
    cursor: pointer
}